@CHARSET "UTF-8";

@font-face {
    font-family: Gotham-Light;
    src: url("fonts/Gotham-Light.otf");
    
}

@font-face {
    font-family: Gotham-Medium;
    src: url("fonts/Gotham-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Gotham-Bold;
    src: url("fonts/Gotham-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: 'bonvenocflight';
    src: url('fonts/bonvenocf/BonvenoCF-Light-webfont.eot');
    src: url('fonts/bonvenocf/BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bonvenocf/BonvenoCF-Light-webfont.woff') format('woff'),
         url('fonts/bonvenocf/BonvenoCF-Light-webfont.ttf') format('truetype'),
         url('fonts/bonvenocf/BonvenoCF-Light-webfont.svg#bonvenocflight') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: Arcon;
    src: url("fonts/Arcon-Regular.otf");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}


h1 {
	text-align: center;
	font-family: Gotham-Medium;
  	font-size: 20px;
  	padding-top: 8px;
  	padding-bottom: 8px;
}




h2 {
	text-align: center;
	font-family: Gotham-Medium;
  	font-size: 13px;
	padding-top: 6px;
	padding-bottom: 6px;
}

body {
	
		margin: 0 0 0 0;
	/*	background-image: url('immagini/sfondo_class.gif');
	*/
}

thead {
	text-align: center;
	font-family: Gotham-Medium;
  	font-size: 13px;
	padding-top: 6px;
	padding-bottom: 6px;
	
}

table {
	font-size: 13px;
	font-family: Gotham-Light;
	text-align: center;
	width: 100%;
}



/*
Specifiche per il podio
*/
#podioBody {
	background-image: url("immagini/AironeInFiligranaNeg.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	opacity: 1;
	
}
#divMainPodio {
	width: 800px;
}




.divPodio {
	position:fixed; 
	height: 350px; 
	width: 215px; 
	font-family: Arcon;
	background-color: rgba(110, 141, 230, 0.5);
	box-shadow: 5px 5px 10px 2px #BBB;
	
}

.BarraVerticalePodio {
	position: fixed; 
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
    text-shadow: -5px 5px 3px #BBBBBB;
	height: 30px; 
	width: 350px; 
	color: rgb(110, 141, 230);
	text-align: center;
	font-size: 22px; 
	font-family: bonvenocflight;
	/*background-color: yellow;
	*/
}
#divPodio1{
	left: 310px; top: 60px;
}

#divPodio2{
	left: 45px; top: 165px;
}

#divPodio3{
	left: 565px; top: 230px;
}

#BarraVerticalePodio1 {
	left: 280px; top: 410px;
}

#BarraVerticalePodio2 {
	left: 15px; top: 515px;
}

#BarraVerticalePodio3 {
	left: 535px; top: 580px;
	
}

.FotoPodio {
	width: 195px;
	height: 275px;
	padding-left: 10px; 
	padding-top: 10px;
	
}

.NomeArciere {
	font-size: 14px;
	font-family: Gotham-Medium;
	color: #fff042;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}

.HPunteggi {
	font-size: 9px; font-family: bonvenocflight; color: #fff042;
}

.BPunteggi {
	font-size: 14px; font-family: Arcon; color: #fff042;
}

.DescClasseCategoria {
	font-size: 28px; font-family: Arcon; 
	background-color: #fff042;
	color: rgb(110, 141, 230);
	box-shadow: 5px 5px 10px 2px #BBB;
	padding: 4px;
	margin: 10px 10px;
}
#DescClasse {
	float: left;
	text-align: right;
}	

#DescCategoria {
	float: right;
	text-align: left;
}	
	
/*
Inizio griglia impaginazione consolle

*/
	
div#speciali {
	padding: 10px;
	width: 200px;
	position: absolute;
	top: 0;
	left: 600
	
	
}

div#comandimanuali{
	width: 550px;
	float: left;
	background-color: white;
	
}

.righe 
{
	background-color: #FFFFFF;
	cellpadding=3px; 
	cellspacing=1px;
}

.righealt 
{
	background-color: #FFFF9E;
	cellpadding=3px; 		
	cellspacing=1px;
		
}

.interlinea
{
	background-image: url("immagini/linea.jpg");
	background-size: 100px 4px;
    background-repeat: no-repeat;
	
}
.interlinea-vuota
{
	background-color: #FFFFFF;
	background-size: 100px 4px;
    background-repeat: no-repeat;	
    background-clip: content-box;
}
.interlinea-back
{
	background-image: url("immagini/linead.jpg");
	height: 4px;
	
}

/*

*/
/*
Specifiche per la classifica
Scores consegnati / da consegnare
*/


.Classifica {
	float: left;
	width: 48.5%;
	height: 455px;
  	border : none;
	border-radius: 10px;
  background-color: rgba(90, 90, 160, 0.25);	
  box-shadow: 5px 5px 10px 2px #BBB;
  /* height: 170px; */
  margin-bottom: 10px;
  font-family: Gotham-Light;
  margin-left: 6px;


}

.theadClassifica {
	padding: 5px 5px 0px 5px;
}
.headPOS
{
	text-align: center;
	width: 25px;
}

.headPunti, .headSpot, .headSuper
{
	text-align: center;
	width: 30px;
}

	             

.fieldNome
{
	text-align: center;
	width: auto;
}



.tConsegnascore
{
	clear:both;
	width: 98%;
	border-radius: 10px;
	background-color: rgba(90, 90, 160, 0.25);	
  	box-shadow: 5px 5px 10px 2px #BBB;
	font-family: Gotham-Medium;
	font-size: 11;
	margin-left: 5px;
	
}
.consegnascores
{
	font-size: 12;
	text-align: center;
	padding-left: 2px;
	padding-bottom: 2px;
	
}
.consegnascores.piazzscoreconsyes
{
	/* background-color: #7FFF00; */
	color: #55F;
}
 
.consegnascores.piazzscoreconsno
{
	color: #F44;
	
}


/*
	Inizio Classifica per Compagnia
*/


.classificaPerCompagnia {
	float: left; 
	width: 48%; 
	border: 4px; 
	margin: 3px;
	font-family: fantasy;
}