div#speciali {
	background-color: orange;
	padding: 10px;
	float: left;
	width: 24%;
	
}

div#comandimanuali{
	width: 60%;
	float: left;
	background-color: white;
	
}


DIV#benvenuti
{

	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
	color: #FF0000;
	padding-top:200px;
	text-align:center;
	text-align:center;
	line-height:50px;

	
}


DIV#benvenuti2
{

	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 38px;
	font-style: italic;
	font-weight: bold;
	color: #FF0000;
	padding-top:200px;
	text-align:center;
	line-height:50px;

	
}

.categoria {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
	color: #FF0000;
}
.classe {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 28px;
	font-style: normal;
	font-weight: bold;
	color: #990000;
}
.punti {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}
.spot {


	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
}
.intestazioni {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0000CC;
}
.titolopagina {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #990000;
	text-decoration: underline;
}
.vocimenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
}
.anagrafica {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}

.tabellapodio {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	border-bottom: 1px dotted Gray;
}


.posclassifica {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: Blue;
}
.classicatindex {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}
.posclassifica2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: Red;
}
.tabellapodio2 {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	border-bottom: 1px dotted Gray;
	color: Red;
}
.tabellapodioGrande {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #CCCCFF;
}
.PloticusTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}

.POSIZIONEclassifica
 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #66CCFF;
	color: #FF0000;
}
.piazzscoreconsyes
 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #7FFF00;
	color: Black;
	border: 1px dashed Green;
	text-align: center;
}
 
 .piazzscoreconsno
 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	background-color: #FFA500;
	color: Black;
	border: 1px dashed Red;
	text-align: center;
}

 .piazzscoreneutro
{
	border-right: red 1px dashed;
	border-top: red 1px dashed;
	font-weight: bold;
	font-size: 12px;
	visibility: hidden;
	border-left: red 1px dashed;
	border-bottom: red 1px dashed;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: gainsboro;
	text-align: center;
}

.nomeinpiazzola {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	background-color: #CCCCFF;
}

ddtr, ddtd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	background-color: #CCCCFF;
	border-right: black 2px dotted;
	border-top: black 2px dotted;
	border-left: black 2px dotted;
	border-right: black 2px dotted;
	
	
}

.righe 
{
	background-color: #FFFFFF;
	cellpadding=3px; 
	cellspacing=1px;
}

.righealt 
{
	background-color: #FFFF9E;
	cellpadding=3px; 		
	cellspacing=1px;
		
}

.interlinea
{
	background-image: url("immagini/linea.jpg");
	height: 4px;
	
}
.interlinea-vuota
{
	background-color: #FFFFFF;
	height: 4px;
	
}
.interlinea-back
{
	background-image: url("immagini/linead.jpg");
	height: 4px;
	
}


.piazzolapregara {
	float: left; 
	width: 48%; 
	border: 4px; 
	border-style: double; 
	border-color: #00F;
	margin: 3px;
	font-family: fantasy;
}


.classificaPerCompagnia {
	float: left; 
	width: 48%; 
	border: 4px; 
//	border-style: double; 
//	border-color: #00F;
	margin: 3px;
	font-family: fantasy;
}