@CHARSET "UTF-8";

.divPiazzole {
	width: 40%;
	border: 2px solid;
	border-color: #AAA;
  border-radius: 15px;
  background-color: #AAA;
  box-shadow: 5px 5px 10px 2px #333333;
  height: 200px;
  margin-bottom: 20px;
  float: left;
}

.tblpiazzole {
	height: 200px;
	width: 100%;
	text-align: left;
	margin-left: 15px;
	
	
}

.tblPiazzole thead {
	text-align: center;
}

.tblpiazzole tbody {
	font: arial normal 12px;
	
}
.tblpiazzole td {
	padding: 3px;
	
}