@CHARSET "UTF-8";

#podioBody {
	background-image: url("../immagini/AironeInFiligranaNeg.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 1;
}

.myItem {
	position: absolute;
	box-shadow: 5px 5px 10px 2px #BBB;
	display: none;
}

#imgDefault {
	width: 400px;
	height: 520px;
	left: calc(( 100% - 400px)/2);
	top: calc(( 100% - 520px)/2);
	visibility: visible;
	box-shadow: 0px 0px 0px 0px;
	display: inherit;
}