@CHARSET "UTF-8";

/*
Specifiche per la classifica
Scores consegnati / da consegnare
*/
.DescClasseCategoria {
	margin-left: 6px;
	margin-bottom: 4px;
	margin-top: 4px;
	height: 33px;
	float: right;
	text-align: right;
	visibility: hidden;
	padding-top: 2px;
	padding-bottom: 2px;
	
	
}

.Classifica {
	width: 384px;
	height: 458px;
	border: none;
	margin-bottom: 6px;
	font-family: Arcon;
	background-color: rgba(110, 141, 230, 0.5);
	box-shadow: 5px 5px 10px 2px #BBB;
	visibility: hidden;
	
}

.theadClassifica {
	padding: 5px 5px 0px 5px;
	color: #fff042;
	font-family: Gotham-medium;
}

.headPOS {
	text-align: center;
	width: 25px;
}

.headPunti, .headSpot, .headSuper {
	text-align: center;
	width: 30px;
}

.fieldNome {
	text-align: center;
	width: auto;
	font-size: 14px;
}

.fields {
	color: #445ec6; /*#3839e6;*/
	font-family: Arcon;
}

.tConsegnascore {
	clear: both;
	width: 98%;
	font-family: Arcon;
	background-color: rgba(110, 141, 230, 0.5);
	box-shadow: 5px 5px 10px 2px #BBB;
	font-size: 11;
	margin-left: 5px;
	visibility: hidden;
	
}

.consegnascores {
	font-family: Arcon;
	font-size: 12;
	text-align: center;
	padding-left: 2px;
	padding-bottom: 2px;
}

.piazzscoreconsyes {
	/* background-color: #7FFF00; */
	color: #445ec6;
}

.piazzscoreconsno {
	color: #F44;
}

body {
	background-image: url("../immagini/AironeInFiligranaNeg.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 1;
	width: 800px;
}

#ClassificaSinistra {
	float: left;
	margin-left: 6px;
}

#ClassificaDestra {
	margin-right: 12px;
	float: right;
}
#DescClasse {
	float: left;
	text-align: right;
}

#DescCategoria {
	float: right;
	text-align: left;
	margin-right: 12px;
}

.divTitolo {
	width: 98.5%;
	/* background-color: orange; */
	height: 55px;
}